.header{
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-style: hidden;
	border-color: #cccccc;

}

.about{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.connect{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.body